<div class="modal fade" id="creationTableModal" tabindex="-1" aria-labelledby="creationTableModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Création d'une Table</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          formulaire de créa table
        </div>
      </div>
    </div>
</div>