<div class="modal fade" id="reinitialisationEventModal" tabindex="-1" aria-labelledby="reinitialisationEventModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Réinitialiser l'évènement</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex align-items-center justify-content-around">
            <button class="btn btn-outline-primary">Garder la salle</button>
            <button class="btn btn-outline-primary">Tout réinitialiser</button>
          </div>
        </div>
      </div>
    </div>
</div>