<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <title>Reservation Beth Rivkah</title>
    {{ encore_entry_link_tags('spa') }}
  </head>
  <body class="font-sans antialiased">
    <div id="root"></div>
    {{ encore_entry_script_tags('spa') }}
  </body>
</html>
