{% extends 'base.html.twig' %}

{% block title %}Nouvelle personne{% endblock %}

{% block body %}
    <h1>Créer une personne</h1>

    {{ include('personne/_form.html.twig') }}

    <a href="{{ path('home') }}">Retour à l'accueil</a>
{% endblock %}
