@import "libs/index";
@import "pdf.scss";

// Base body styles
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

// Fade out animation for flash notifications
.animate-fade-out {
    animation: fadeOut 7s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
