@import "libs/index";
@import "pdf.scss";

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

td {
    position: relative;
}

.bubble {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;

    &.bubble-list {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
}

a.no-style {
    color: inherit;
    text-decoration: none;
}

// Fade out animation for notifications
.animate-fade-out {
    animation: fadeOut 7s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
