@import "libs/index";
@import "~bootstrap/scss/bootstrap";
@import "pdf.scss";

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

td {
    position: relative;
}


.bubble {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;

    &.bubble-list {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
}

a.no-style {
    color: inherit;
    text-decoration: none;
}

.notif-message {
    position: absolute;
    right: 0;
    z-index: 999;
    color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 7px;
    opacity: 1;
    display: block;
    animation: remove 7s ease-in-out forwards;
}

.alert {
    animation: remove 7s ease-in-out forwards;
}

@keyframes remove {
    from {
        display: block;
        opacity: 1;
        height: auto;
        width: auto;
        padding: 1rem 1rem;
        margin-bottom: 1rem;
    }
    75% {
        display: block;
        opacity: 0;
        height: auto;
        width: auto;
        padding: 1rem 1rem;
        margin-bottom: 1rem;
    }
    to {
        opacity: 0;
        display: none;
        height: 0;
        width: 0;
        padding: 0;
        margin-bottom: 10;
    }
}
