<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-size: 20px;
            font-family: 'Roboto';

        }
        .canvas-plan {
            background: url("{{plan_path}}");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            border: 1px solid black;
            height: 900px;
        }
    </style>
</head>
<body>
    <div class="canvas-plan">
    test
        {% for table in tables %}
            {% dump('test') %}
        {% endfor %}
    </div>
</body>
</html>