<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Reservation GALA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                        <li class="nav-item mx-2">
                            <button type="button" class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#creationTableModal">Créer une Table</button>
                        </li>
                        <li class="nav-item mx-2">
                            <button type="button" class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#creationPersonneModal">Créer une Personne</button>
                        </li>
                        <li class="nav-item mx-5">
                            <custom-searchbar></custom-searchbar>
                            {# <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Rechercher">
                                <button class="btn btn-outline-success" type="submit">Rechercher</button>
                            </form> #}
                        </li>
                    </ul>
                </div>
                <div class="ml-auto btn-group dropstart">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-gear-fill"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="d-flex align-items-center flex-column">
                                <button type="button" class="m-2 dropdown-item" data-bs-toggle="modal" data-bs-target="#editionEventModal">Editer l'évènement</button>
                                <a class="m-2 dropdown-item" href="#">Imprimer le plan de salle</a>
                                <hr class="w-100">
                                <button type="button" class="m-2 btn btn-danger" data-bs-toggle="modal" data-bs-target="#reinitialisationEventModal">Réinitialiser l'évènement</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        {% include "modals/index.html.twig" %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>



        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
