{% extends 'base.html.twig' %}

{% block title %}Création de table{% endblock %}

{% block body %}
  <div class="max-w-2xl mx-auto px-4 py-6">
    <h1 class="text-2xl font-bold text-gray-900 mb-6">Création d'une table</h1>

    {{ include('table/_form.html.twig') }}
  </div>
{% endblock %}
