{% extends 'base.html.twig' %}

{% block title %}New Table{% endblock %}

{% block body %}
    <div class="container">
        <div class="my-2">
            <a href="{{ path('home') }}">Accès au plan</a>
        </div>
        <h1>Création d'une table</h1>
        {# <div class="d-flex align-items-center justify-content-between">
        </div> #}

        {{ include('table/_form.html.twig') }}
    </div>
{% endblock %}
